<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>

<nav th:fragment="navbar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/admin/dashboard}">See Users</a></li>
        <li><a th:href="@{/admin/operation-selection}">Admin Operation</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>
</body>
</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<nav th:fragment="navbar">
    <ul>
        <li><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/admin/dashboard}">See Users</a></li>
        <li><a th:href="@{/admin/operation-selection}">Admin Operation</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</nav>
</body>
</html>
